:root {
  --primary-color: #86c232;
  --secondary-color: #989898;
}

body {
  background-color: #222629;
  color: var(--secondary-color);
  padding: 0px;
  margin: 0px;
}

main,
form {
  display: grid;
  align-items: center;
  justify-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 10vh;
}

ul {
  display: flex;
  gap: 35px;
  justify-content: right;
  margin-right: 50px;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 20px;
  display: block;
}

ul li a:hover {
  color: var(--primary-color);
}

input[readonly] {
  background-color: lightgray;
}

table {
  border-collapse: collapse;
  margin-bottom: 1em;
}

table,
th,
td {
  border: solid 1px;
  padding: 0.5rem 2rem;
  border-color: rgb(59, 56, 56);
}

thead {
  background-color: #222426;
  color: var(--secondary-color);
  font-size: 20px;
}

button {
  font-family: sans-serif;
  font-weight: 700;
  width: 13em;
  padding: 14px 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: black;
  cursor: pointer;
  margin: 5px;
}

p.error {
  border: dashed orangered 2px;
  padding: 1em;
}

p.info {
  border: solid orange 2px;
  padding: 1em;
}

h1.error {
  color: orangered;
}

.legend {
  font-weight: bold;
  color: orange;
  margin-right: 5px;
}

label {
  display: inline-block;
  line-height: 50px;
  width: 150px;
}

input {
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: none;
}
